/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/database/validation.sqlite
/database/database.sqlite
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/storage/framework/views/*.php
/storage/logs/*.log
**/__pycache__/
*.py[cod]
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
